@font-face {
  font-family: Delicious Roman;
  src: url(../font/Delicious-Roman.otf) format("opentype");
}

@font-face {
  font-family: Delicious Heavy;
  src: url(../font/Delicious-Heavy.otf) format("opentype");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000317}}
body {
  background-color: #343434;
  color: white;
  font-family: Delicious Roman, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000323}}
h1 {
  font-family: Delicious Heavy, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000327}}
a {
  color: #0fdc0f;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000331}}
input[type=submit] {
  background-color: #242424;
  border: none;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000337}}
#main {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000341}}
.region-content {
  border: 1px dotted white;
  margin: 0 auto;
  width: 500px;
}

@media all and (min-width: 840px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000348}}
  .region-content {
    width: 800px;
  }
}
@media all and (min-width: 1640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000353}}
  .region-content {
    width: 1600px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/drupal-7\.21-mde\/sites\/all\/themes\/mderogers\/sass\/styles\.scss}line{font-family:\0000356}}
  .region-content .node {
    width: 795px;
    display: inline-block;
  }
}
