$backgroundcolor: #343434;
$shadowcolor: #242424;
$textcolor: #fff;
$accentcolor: #0fdc0f;

@font-face 
{
    font-family: Delicious Roman;
    src: url(../font/Delicious-Roman.otf) format("opentype");
}
@font-face 
{
    font-family: Delicious Heavy;
    src: url(../font/Delicious-Heavy.otf) format("opentype");
}

body {
	background-color: $backgroundcolor;
    color: $textcolor;
    font-family: Delicious Roman, sans-serif;
}

h1 {
    font-family: Delicious Heavy, sans-serif;
}

a {
    color: $accentcolor;
}

input[type=submit] {
    background-color: $shadowcolor;
    border: none;
    color: $textcolor;
}

#main {
    width: 100%;
}

.region-content {
    border: 1px dotted white;
    margin: 0 auto;
    width: 500px;
}

@media all and (min-width: 840px) {
    .region-content {
        width: 800px;
    }
}
@media all and (min-width: 1640px) {
    .region-content {
        width: 1600px;

        .node {
            // border: 1px dashed white;
            width: 795px;
            display: inline-block;
        }
    }
}